<script>
  $(function () {
    var userType = null;
    var plays = [];
    var w_typeName = "";
    var w_typeId = "";
    @* var nickname = prompt('請輸入你的暱稱'); *@

    //設定SignalR的連線資訊
    var connection = new signalR.HubConnectionBuilder()
      .withUrl("/sampleHub")
      .build();

    connection.on("SetPlayerName", function (user) {
      console.log(user);
      plays.push({ Name: user, Identity: null });
      SetPlayTable();
    });

    connection.on("SetAllPlayerName", function (user) {
      plays = [];
      console.log(JSON.parse(user));
      JSON.parse(user).forEach(e =>
        plays.push({ Name: e.Name, Identity: e.Identity }))

      SetPlayTable();
    });

    connection.start().then(function () {
      connection.invoke("SendAdmin", "Admin").catch(function (err) {
        return console.error(err.toString());
      });
    }).catch(function (err) {
      return console.error(err.toString());
    });


    function SetPlayTable() {
      document.getElementById("playTable").innerHTML = "";
      $("#playTable").append('<div class="col-sm-12">目前玩家人數為：' + plays.length + '</div>');
      $("#playTable").append('<div class="col-sm-12">目前選擇的板子為：' + w_typeName + '</div>');
      $("#playTable").append('<div class="col-sm-12">玩家名稱/身份：</div>');
      plays.forEach(e =>
        $("#playTable").append('<div class="col-sm-3">' + e.Name + "/" + (e.Identity == null ? "未派牌" : e.Identity) + '</div>')
      )
    }

    $("#wolfType").change(function () {
      GetWolfType(this);
    })

    function GetWolfType(e) {
      w_typeName = e.selectedOptions[0].innerText;
      w_typeId = e.selectedOptions[0].value;
      SetPlayTable();
    }
    $("#GetEmpIdentity").click(function () {
      if (w_typeId == "") {
        alert("尚未選擇板子！")
        return "";
      }

      connection.invoke("GetEmpIdentity", w_typeId).catch(function (err) {
        return console.error(err.toString());
      });
    });
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <span>板子：</span>
      <select id="wolfType" name="wolfType" asp-items=@ViewBag.WolfType>
        <option value="0">Please select</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row" id="playTable">

  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" id='GetEmpIdentity'>派牌</button>
    </div>
  </div>
</div>